<h2>User info</h2>
  <% if user.image.attached? %>
    <%= image_tag user.get_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image-0.jpg', size: "100x100" %>
  <% end %>

<table class="table font-weight-bold">
  <tbody>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>

<% if user == current_user %>
  <a href="/users/<%= user.id %>/edit" class="btn btn-outline-secondary btn-block" role="button">
    <i class="fa-solid fa-user-gear"></i></a>
<% else %>
  <a href="/users/<%= currentuser.id %>" class="btn btn-outline-secondary btn-block" role="button">
    <i class="fa-solid fa-user-gear"></i></a>
<% end %>

<div>
  <h2 class="mt-3">New Book</h2>

  <%= form_with url:books_path(user.id), model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title,class: "form-control" %>
  <p>Opinion</p>
  <%= f.text_area :body,class: "form-control" %>
  <br>
  <%= f.submit 'Create Book', class:'btn btn-sm btn-success' %>
<% end %>
</div>